<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <script src="https://kit.fontawesome.com/a2077fc4c2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre</title>
</head>
<body>
    
    <header>
        <div class="main-header-top-bar">
       <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo"><!--logo ML-->
       <div class="input"> Buscar productos,  marcas <i class="fa fa-search"></i></div>
       <div>
       <p class="compra-en-cuotas"><i class="fas fa-hand-holding-usd" ></i>Comprá en cuotas y sin tarjeta de créditos</p>
      </div>
       </div>  
       <!--es un bloque-->
       <nav class="main-navbar">
           <ul>
               <li type="none"> <a href=" "> Ofertas</a></li><!--etiqueta A anchor, enlace de pagina(rutas externas), archivos o ubucacion del mismo sitio-->
               <li type="none"> <a href=" "> Tiendas oficiales</a></li>
               <li type="none"> <a href=" "> Vender</a></li>
               <li type="none"> <a href=" "> Ayuda</a></li>
           </ul>

           <ul>
               <li type="none"> <a href=""> Créa tu cuenta <i class="fas fa-id-card"></i></a></li>
               <li type="none"> <a href="# "> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
               <li type="none"> <a href=" ">Mis compras <i class="fas fa-shopping-basket"></i></a></li> 
           </ul>

       </nav>
       <div class="burguer-menu">
           <i class="fas fa-bars"></i>
       </div>
   </header>
    <main>
        <form class="form-login" method="get" action="">
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <input class="button-form" type="submit" value="Enviar">
        </form>
      
    </form>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        
        
            <li type="none">
                <a href=""><i class="fa-sharp fa-solid fa-credit-card"></i></a>
                <p>
                    <strong>Pagá con tarjeta o en efectivo</strong>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </li>
            <li type="none">
                <a href=""><i class="fa-sharp fa-solid fa-gift"></i></a>
                <p>
                    <strong>Envío gratis desde $ 2.500</strong>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </li>
            <li type="none">
                <a href=""><i class="fa-sharp fa-solid fa-user-shield"></i></a>
                <p>
                    <strong>Seguridad, de principio a fin</strong>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </li>
        
        
        <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
    </footer>
    
</body>
</html>